@model CloudBlog.Lib.MvcWebUI.Models.ArticleListViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="cta-section theme-bg-dark py-3">
    <div class="container text-center">
        <h3 class="heading text-white">Articles</h3>
    </div>
</section>

<section class="blog-list px-3 py-5 p-md-5">

    <div class="container">

        @foreach (var item in Model.Articles)
        {
            <div class="item mb-5">
                <div class="container">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="@item.Thumbnail" alt="image">
                    <div>
                        <h3 class="title mb-1"><a asp-action="ArticleDetail" asp-controller="Home" asp-route-articleId="@item.Id">@item.ArticleTitle</a></h3>
                        <div class="meta mb-1"><span class="date">@item.PublishDate.ToShortDateString()</span><span class="time">@item.Views - Views</span></div>
                        <div>@item.Description</div>
                        <a asp-action="ArticleDetail" asp-controller="Home" asp-route-articleId="@item.Id">Read more &rarr;</a>
                    </div>
                </div>
            </div>
        }

    </div>
</section>
